{#
  Separator - thin divider line.

  Usage:
    {% from "components/ui/separator.html" import separator %}
    {{ separator() }}
    {{ separator(orientation="vertical") }}
#}
{% macro separator(orientation="horizontal", extra_classes="") %}
{% if orientation == "vertical" %}
<div role="separator" aria-orientation="vertical" class="w-px bg-border self-stretch {{ extra_classes }}"></div>
{% else %}
<div role="separator" aria-orientation="horizontal" class="h-px w-full bg-border {{ extra_classes }}"></div>
{% endif %}
{% endmacro %}
